{% load static %}
<header>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-xl-3 col-lg-4 col-md-6 col-9 logo__col">
                <a href="/">
                    <img src="{% static 'img/logo.jpg' %}" alt="" class="logo__img">
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-12 d-lg-block d-none">
                <p class="address address_first">Дубнинская улица, 2к6</p>
                <p class="address address_time">Пн-Вс 10:00-22:00</p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 d-md-block d-none">
                <div class="social">
                    <a href="tel:+74994818100" class="social__phone">+7 (499) 481-81-00</a>
                    <div class="social__links">
                        <a href="https://www.facebook.com/profile.php?id=100027207051828" class="social__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" class="social__img social__img_fb">
                                <path d="M595.7,999.9c-1-1.8-0.5-10.8-0.5-12.7c0-140.7,0-281.3,0-422c0-6.9-0.5-6.4,6.2-6.4c43.7,0,87.4,0,131.2,0
	                                c1.4,0,2.7-0.1,4.1,0c2.7,0.3,3.7-1,4.1-3.6c3.1-20.9,6.3-41.8,9.5-62.7c3.7-24,7.4-47.9,11-71.9c2.1-13.6,4.1-27.2,6.2-40.7
	                                c-2.4-1.4-4.8-0.8-7.1-0.8c-52.5,0-104.9,0-157.4,0c-1.5,0-3.1-0.1-4.7,0c-2.2,0.1-3.3-0.7-3.2-3c0.1-1.2,0-2.3,0-3.5
	                                c0-37.1,0-74.2,0-111.3c0-13.3,1.9-26.3,6.4-38.9c10.4-28.9,31.4-45.9,60.8-53.1c12.5-3.1,25.3-3.7,38.2-3.7c22.2,0.1,44.3,0,66.5,0
	                                c1.4,0,2.7-0.1,4.1,0c2.7,0.2,4.1-0.7,3.8-3.6c-0.1-1.1,0-2.3,0-3.5c0-46.4,0-92.9,0-139.3c0-1.2-0.1-2.3,0-3.5c0.3-2.8-1-3.6-3.6-4
	                                c-14-2.2-28-4-42.1-5.6c-21.8-2.6-43.7-4.2-65.6-5.3c-42.2-2.1-83.9,0.3-124,15.1C476.4,39,435.2,83.4,414.4,147
	                                c-7.8,23.7-11.7,48.2-13.2,73.1c-0.6,10.1-0.6,20.2-0.6,30.3c0,39.8,0,79.7,0,119.5c0,0.8,0,1.5,0,2.3c0,7.5,0.6,6.6-6.4,6.7
	                                c-1.2,0-2.3,0-3.5,0c-46.6,0-93.3,0-139.9,0c-1.4,0-2.7,0.1-4.1,0c-3.2-0.4-4.1,1.2-3.9,4c0.1,1.3,0,2.7,0,4.1
	                                c0,54.6,0,109.2,0,163.8c0,1.2,0,2.3,0,3.5c0.1,4.3,0.1,4.3,4.6,4.3c1.2,0,2.3,0,3.5,0c47.6,0,95.2,0,142.8,0c1.5,0,3.1,0,4.7,0
	                                c1.4,0,2.1,0.8,2.1,2.2c0,1.4,0,2.7,0,4.1c0,140.7,0,281.3,0,422c0,1.9,0.4,10.9-0.6,13.1L595.7,999.9z"/>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/gold.hands.msk/" class="social__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="social__img social__img_ig">
                                <path d="M14.35,2c0.97,0,1.89,0.38,2.58,1.07C17.62,3.76,18,4.68,18,5.65v8.7c0,0.97-0.38,1.89-1.07,2.58
	                                C16.24,17.62,15.32,18,14.35,18h-8.7c-0.97,0-1.89-0.38-2.58-1.07C2.38,16.24,2,15.32,2,14.35v-8.7c0-0.97,0.38-1.89,1.07-2.58
	                                C3.76,2.38,4.68,2,5.65,2H14.35 M14.35,0h-8.7C2.53,0,0,2.53,0,5.65v8.7C0,17.47,2.53,20,5.65,20h8.7c3.12,0,5.65-2.53,5.65-5.65
	                                v-8.7C20,2.53,17.47,0,14.35,0L14.35,0z"/>
                                <path d="M10,15.34c-1.43,0-2.77-0.56-3.77-1.56S4.66,11.43,4.66,10s0.56-2.77,1.56-3.77S8.57,4.66,10,4.66s2.77,0.56,3.77,1.56
	                                s1.56,2.35,1.56,3.77s-0.56,2.77-1.56,3.77S11.43,15.34,10,15.34z M10,6.66c-1.84,0-3.34,1.5-3.34,3.34s1.5,3.34,3.34,3.34
	                                s3.34-1.5,3.34-3.34S11.84,6.66,10,6.66z"/>
                                <circle cx="15.33" cy="4.67" r="1"/>
                            </svg>
                        </a>
                        <a href="https://www.youtube.com/channel/UCUrKgNbg6hngYm8JZ6n5hKA" class="social__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" class="social__img social__img_yt">
                                <path d="M638.37,147.66H397.69C31.61,154.65,8.28,145.86,0,469.69v70.65C15.72,874.99,28.56,837.8,452.45,852.34h120.34
	                                C895.94,835.1,983.83,877.01,1000,645.8V349.01C983.15,147.66,923.66,159.72,638.37,147.66z M403.15,649.15l-0.04-298.37
	                                l260.9,149.21L403.15,649.15z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-md-none col-3 burger__wrapper">
                <svg class="burger burger_closed" id="burger" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 1000 1000">
                    <rect class="burger__strip burger__strip_1" y="400" width="1000" height="200"/>
                    <rect class="burger__strip burger__strip_2" y="400" width="1000" height="200"/>
                    <rect class="burger__strip burger__strip_3" y="400" width="1000" height="200"/>
                </svg>
            </div>
            <div class="col-xl-3 col-12 desktopmenu d-none d-md-flex">
                <nav class="desktopmenu__nav">
                    <ul class="desktopmenu__list">
                        <li class="desktopmenu__li">
                            <a href="#about" class="desktopmenu__item">О нас</a>
                        <li class="desktopmenu__li">
                            <a href="#services" class="desktopmenu__item">Услуги</a>
                        <li class="desktopmenu__li">
                            <a href="#works" class="desktopmenu__item">Работы</a>
                        <li class="desktopmenu__li">
                            <a href="#reviews" class="desktopmenu__item">Отзывы</a>
                        <li class="desktopmenu__li">
                            <a href="#contacts" class="desktopmenu__item">Контакты</a>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__li">
                    <a href="#about" class="menu__item">О нас</a>
                </li>
                <li class="menu__li">
                    <a href="#services" class="menu__item">Услуги</a>
                </li>
                <li class="menu__li">
                    <a href="#works" class="menu__item">Работы</a>
                </li>
                <li class="menu__li">
                    <a href="#reviews" class="menu__item">Отзывы</a>
                </li>
                <li class="menu__li">
                    <a href="#contacts" class="menu__item">Контакты</a>
                </li>
            </ul>
            <a href="tel:+74994818100" class="menu__phone">+7 (499) 481-81-00</a>
        </nav>
        <div class="header__filler"></div>
    </div>
</header>