{% extends 'wrapper.html' %}
{% load static %}

{% block title %}Спасибо!{% endblock %}

{% block content %}
<body class="background">
{% include 'header.html' %}
<main>
    <div class="container-fluid">
        <div class="row thanks__bg">
            <div class="col-12">
                <div class="thanks">
                    <p class="thanks__title">Не найдено!</p>
                    <p class="thanks__text">Указан неверный адрес, вернитесь на главную страницу.</p>
                    <a href="/" class="thanks__link">На главную</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'footer.html' %}
</body>
{% endblock %}