{% extends 'wrapper.html' %}
{% load static %}

{% block title %}Спасибо!{% endblock %}

{% block content %}
<body class="background">
{% include 'header_mod.html' %}
<main>
    <div class="container-fluid">
        <div class="row thanks__bg">
            <div class="col-12">
                <div class="thanks">
                    <p class="thanks__title">Спасибо!</p>
                    <p class="thanks__text">Ваша заявка принята, с вами свяжутся через несколько минут</p>
                    <a href="{% url 'main' %}" class="thanks__link">На главную</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'footer_mod.html' %}
</body>
{% endblock %}